<!-- Footer logos -->
<div class="bg-white p-2">
    <div class="row mx-auto">
        <div class="mx-auto mt-3 " id="sponsors">
            <a href="http://www.museums.cam.ac.uk"><img class="img-responsive"
                                                        alt="University of Cambridge Museums logo"
                                                        src="{{ site.baseurl }}/images/logos/ucm_logo_black_white.png"
            ></a>
            <img class="img-responsive"
                                                        alt="Egyptian Museum"
                                                        src="{{ site.baseurl }}/images/logos/egyptian.jpg"
            >

        </div>
    </div>
</div>
